body {
    font-family: roboto;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    background-color: #1F2937;
    color: white;
}

header nav {
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    
}

header nav ul li {
    display: inline-block;
    padding: 20px;
    margin: 0;
    
}

header nav ul li nav#logo {
    display: block;
    max-width: 100px;
    max-height: 100px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: ;
}

img {
    max-width: 300px;
    max-height: 250px;
    display: block;
    margin: 0;
    padding: 40px 20px;
}